<template>
  <div>
    <v-row>
      <v-col>
        <v-card>
          <v-date-picker
            v-model="picker"
            full-width
            locale="es-cl"
            :min="minimo"
            :max="maximo"
            @change="getDolar(picker)"
          >
          </v-date-picker>
        </v-card>
        <v-card color="error">
          <v-card-title
            class="font-weight-light display-1 white--text justify-center"
          >
            {{ val }}
          </v-card-title>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import axios from 'axios'
import { mapMutations } from 'vuex'
export default {
  name: 'Home',
  data () {
    return {
      picker: new Date().toISOString().substr(0, 10),
      minimo: '1984',
      maximo: new Date().toISOString().substr(0, 10),
      val: null
    }
  },
  methods: {
    async getDolar (dia) {
      let diaNew = dia
        .split('-')
        .reverse()
        .join('-')
      try {
        this.showLoading({ title: 'accediendo a informacion' })
        let { data } = await axios.get(
          `https://mindicador.cl/api/dolar/${diaNew}`
        )
        console.log(data)
        if (data.serie.length > 0) {
          this.val = data.serie[0].valor
          this.hideLoading()
        } else {
          console.log('Sabados y domingo no hay datos')
          this.val = 'No hay resultados los fines de semana'
        }
      } catch (error) {
        console.log(error)
      }
    },
    ...mapMutations(['showLoading', 'hideLoading'])
  },

  created () {
    this.getDolar(this.picker)
  },

  components: {}
}
</script>
